

/**********************************************
    GENERAL RULES   
 *********************************************/
 
 * {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #7d7f84;
}

 a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

hr {
    margin: 15px 0;
}

i {
    margin-left: 5px;
    margin-right: 10px;
}

img {
    max-height: 100%;
}

h2,
h4 {
    color: #ffffff;
    margin-bottom: 10px;
}

.icon {
    margin-right: 5px;
}

.icon svg path {
    fill: #7d7f84;
}


/**********************************************
    UTILITIES   
 *********************************************/

 .wrapper {
    height: 100vh;
    width: 100vw;
 }

 .icon-text {
    display: flex;
    align-items: center;
 }


/**********************************************
    SECTIONS   
 *********************************************/

/* UPPER PART */
#upper {
    display: flex;
    height: calc(100% - 90px);
}

    #side {
        max-height: 100%;
        width: 230px;
        padding: 20px 20px 10px;
        background-color: black;
        overflow:hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

        #side ul {
            margin-bottom: 20px;
        }

            #side ul li {
                margin: 20px 0;
            }


        /* Sezione Logo */

        #logo {
            width: 135px;
            height: 70px;
        }

        /* Sezione Menu */

        #menu .icon-text {
            height: 40px;
            margin: 0;
        }

        #menu .icon-text .icon {
            width: 25px;
        }

        /* Sezione Playlist */

        #playlist i {
            font-size: 40px;
        }

        #playlist .icon-text span {
            font-size: 1.2em;
        }

        #playlist ul {
            height: 40%;
            overflow: auto;
        }

        /* Sezione account */

        #user h4 {
            margin: 0;
        }

        #user-icon{
            width: 25px;
            height: 25px;
            background-color: #808080;
            margin-right: 10px;
            border-radius: 50%;
        }

        
    main {
        width: calc(100% - 230px);
        position: relative;
        background-color: #141922;
    }

        .to-action {
            height: 90px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            position: absolute;
            top: 0;
        }

            .to-action button {
                position: absolute;
                top: 20px;
                right: 20px;
                background-color: rgba(0, 0, 0, 0);
                color: white;
                font-size: inherit;
                height: 40px;
                padding: 0 40px;
                border: solid 2px white;
                border-radius: 20px;
            }

        main .container {
            padding: 20px;
            overflow: auto;
            max-height: 100%;
        }

        main nav {
            display: flex;
            justify-content: center;
            margin-top: 90px;

            
        }

        main nav ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 630px;
        }

            main nav ul li {
                margin: 0 10px 40px;
            }

        

/* PLAYER */
footer {
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #282828;
}


/**********************************************
    DEBUG   
 *********************************************/

 main nav {
    border: solid 2px;
 }

 main nav ul {
    border: dotted 2px;
 }

 .cards-container {
    min-height: 245px;
    border: dotted 2px;
 }

 footer div {
    min-width: 230px;
    border: solid 2px;
 }

