

/**********************************************
    GENERAL RULES   
 *********************************************/
 
 * {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #7d7f84;
}

 a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

li {
    cursor: pointer;
}

button {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

hr {
    margin: 15px 0;
}

i {
    margin-right: 10px;
    cursor: pointer;
}

img {
    max-width: 100%;
}

h2,
h3,
h4,
h5,
.white {
    color: #ffffff;
}

h2,
h3,
h4 {
    margin-bottom: 10px;
}

h2 {
    font-size: 1.9em;
}


.icon {
    margin-right: 5px;
}

.icon svg path {
    fill: #7d7f84;
}


/**********************************************
    UTILITIES   
 *********************************************/

 .wrapper {
    height: 100vh;
    width: 100vw;
 }

 .icon-text {
    display: flex;
    align-items: center;
    cursor: pointer;
 }

 main .container {
    max-width: 100%;
    padding: 20px;
    overflow: auto;
    max-height: 100%;
}

main .container nav li {
    position: relative;
}

main .container nav li.selected::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: #adff2f;
    position: absolute;
    bottom: -5px;
    left: 50%;
    translate: -50% 0;
}

 .row {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    margin: 30px 0;
    gap: 15px;
}

.card {
    max-width: calc((100% - 40px) /6);
    text-align: center;
    cursor: pointer;
}

 .show-xs {
    display: none;
 }

 .fa-circle-play {
    transition: all .2s ease-in-out;
 }

 /* Progress bar */
 .bar-style {
    height: 5px;
    border-radius: 10px;
 }

 .bar {
    background-color: #606060;
    width: 100%;
    cursor: pointer;
 }

 .progress-bar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #c1c1c1;
    width: 20%;
 }

 .progress-bar .fa-circle {
    margin: 0;
    display: none;
 }


 /* Selected element in Side Menu */
 .menu-selected {
    color: #ffffff;
    border-left: solid 3px #adff2f;
 }

 .menu-selected svg path {
    fill: #ffffff;

 }


/**********************************************
    SECTIONS   
 *********************************************/

/* UPPER PART */
#upper {
    display: flex;
    height: calc(100% - 90px);
}

    /* SIDE LEFT */
    #side {
        max-height: 100%;
        width: 230px;
        padding: 20px 0 10px;
        background-color: black;
        overflow:hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    #side-top {
        height: calc(100% - 75px);
    }

    #side-top >* {
        padding: 0 20px;
    }

        #side ul {
            margin-bottom: 20px;
        }

            #side ul li {
                margin: 20px 0;
            }

        /* Sezione Logo */

        #logo {
            width: 175px;
            max-height: 70px;
            max-width: 100%;
            margin-bottom: 20px;
        }

        /* Sezione Menu */

        #menu {
            padding: 0;
        }

        #menu li {
            padding: 0 20px;
        }

        #menu .icon-text {
            height: 35px;
            margin: 0;
        }

        #menu .icon-text .icon {
            width: 28px;
        }

        /* Sezione Playlist */
        
        #playlist i {
            font-size: 40px;
        }

        #playlist .icon-text span {
            font-size: 1.2em;
        }

        #playlist ul {
            overflow: auto;
        }

        /* Sezione account */

        #side-bottom {
            flex-basis: 75px;
            padding: 0 20px;

        }

        #user h4 {
            margin: 0;
        }

        #user-icon{
            width: 25px;
            height: 25px;
            background-color: #808080;
            margin-right: 10px;
            border-radius: 50%;
        }
    
    /* SIDE RIGHT - MAIN */
    main {
        width: calc(100% - 230px);
        position: relative;
        background-color: #141922;
    }

        /* CALL-TO-ACTION */
        .to-action {
            height: 90px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            position: absolute;
            top: 0;
            z-index: 900;
        }

            .to-action button {
                position: absolute;
                top: 20px;
                right: 20px;
                background-color: rgba(0, 0, 0, 0);
                color: white;
                font-size: inherit;
                height: 45px;
                padding: 0 45px;
                border: solid 1px white;
                border-radius: 23px;
            }

        /* menu nav centrale */
        main nav {
            display: flex;
            justify-content: center;
            margin-top: 90px;
        }

        main nav ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 670px;
        }

            main nav ul li {
                margin: 0 10px 40px;
            }

        /* Sezione cards */
        .cover-img {
            max-width: 100%;
            position: relative;
            margin-bottom: 15px;
        }
        
        .hover-cover {
            position: absolute;
            background-color: #00000085;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            font-size: 4em;
            cursor: pointer;
            display: none;
        }

        .hover-cover .fa-circle-play {
            margin: 0;
        }

        .card:hover .hover-cover {
            display: flex;
        }

        .circle img {
            object-fit: cover;
            border-radius: 50%;
        }

        .circle {
            border-radius: 50%;
        }


/**********************************************
    RESPONSIVE - UPPER
 *********************************************/

/* FORMATO TABLET M (max 878px) */

@media all and (max-width: 878px) {
    .row {
        flex-wrap: wrap;
    }

    .card {
        max-width: 140px;
    }

}

/* FORMATO MOBILE S (max 639px) */

@media all and (max-width: 639px) {

    .card {
        max-width: 170px;
    }
}


/* FORMATO MOBILE XS (max 552px) */

@media all and (max-width: 552px) {
    
    /* side */

    .hide-xs {
        display: none;
    }

    .show-xs {
        display: inline-block;
    }

    #side {
        width: 50px;
        /* padding: 10px; */
    }

    #side-top >* {
        padding: 0 10px;
    }

    #menu {
        padding: 0;
    }

    #menu li {
        padding: 0 10px;
        border: none;
    }

    #side-bottom {
        padding: 0 10px;
    }

    #logo {
        margin-bottom: 10px;
    }

    .icon {
        margin: 0;
        width: 100%;
    }

    .centered {
        margin: 0 auto;
     }    

    #user-icon {
        margin: 30px auto 0;
    }

    /* main */

    main {
        width: calc(100% - 50px);
    }

    main .row {
        justify-content: center;
    }

    .card {
        max-width: 215px;
    }
}


        

/* PLAYER */
footer.row {
    height: 90px;
    justify-content: space-between;
    padding: 10px;
    background-color: #282828;
    margin: 0;
    flex-wrap: nowrap;
}

footer .row {
    align-items: center;
    margin: 0;
    justify-content: space-between;

}

footer .side.row {
    height: 100%;
    max-width: 220px;
    flex-wrap: nowrap;
}

footer .icon-text .icon {
    width: 45px;
    margin-right: 10px;
}

footer .icon-text span {
    font-size: .8em;
}

#player {
    height: 100%;
    width: 40%;
    max-width: 400px;
    font-size: 1.2em;
}

footer #player .row {
    justify-content: center;
    height: 50%;
    flex-wrap: nowrap;
}

#player .fa-circle-play {
    font-size: 2em;
}

#volume .row {
    flex-wrap: nowrap;
}

#player .row span {
    font-size: .6em;
}

#volume i {
    margin: 0;
}

/**********************************************
    GENERAL HOVER
 *********************************************/

 .fa-circle-play:hover {
    transform: scale(1.2);
 }

 #side .icon-text:hover {
    color: #ffffff;
 }

 main .to-action button:hover {
    transform: scale(1.1);
 }

 .bar:hover .progress-bar {
    background-color: #ffffff;
 }

 .bar:hover .fa-circle {
    display: inline-block;
 }

 li:hover {
    color: #ffffff;
 }

 li:hover svg path {
    fill: #ffffff;
 }
/**********************************************
    DEBUG   
 *********************************************/

 /* main nav {
    border: solid 2px;
 }

 main nav ul {
    border: dotted 2px;
 }

 footer div {
    border: dotted 2px;
 }
 */
